* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
}

#container {
    margin: 2em auto;
    width: 740px;
    padding: 2em 4em;
    background: #f1f7dc;
}

h1, h2 {
    font-family: 'Droid Serif', serif;
    margin: 0;
    padding-bottom: 1em;
}

h2 {
    font-size: 2em;
}

p, li {
    font-size: 1.4em;
}

p.credit {
    font-size: 0.9em;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
}

/* links */

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* media queries */

@media (max-width: 800px) {
    #container {
        margin: 0;
        width: 100%;
        padding: 2em;
    }
}
