  

<p>Upload your files securely</p>
<div class="container" align="left">
    <a href="/upload/form" target="_blank"><button>Upload Files</button></a>
</div>

<p>View or download files in the directory</p>
<div class="container" align="left">
    <a href="/files" target="_blank"><button>View/Download Files</button></a>
</div>


<p>upload files to s3</p>
<div class="container" align="left">
    <a href="/s3/upload" target="_blank"><button>upload files to s3</button></a>
</div>


<p>View or download files in the s3 bucket</p>
<div class="container" align="left">
    <a href="/s3/files" target="_blank"><button>view s3 bucket files</button></a>
</div>

<p>add performance</p>
<div class="container" align="left">
    <a href="/performances/new" target="_blank"><button>add a new performance</button></a>
</div>


<p>add to email list</p>
<div class="container" align="left">
    <a href="/mailing-list/new" target="_blank"><button>add to seans email list</button></a>
</div>

<p>view performances</p>
<div class="container" align="left">
    <a href="performances/view" target="_blank"><button>view performances</button></a>
</div>


<p>view email list</p>
<div class="container" align="left">
    <a href="mailing-list/view" target="_blank"><button>view email list</button></a>
</div>

<p>send newsletter</p>
<div class="container" align="left">
<form action="send-newsletter" method="POST">
    <button type="submit">Send Newsletter</button>
</form>
</div>






