


<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">

<div>
<p>WELCOME TO SEAN WAYLAND'S GREAT MUSIC DISTRIBUTION SITE</p>
</div>

<div>
<iframe width="560" height="315" src="https://www.youtube.com/embed/EVYdy4gZWP0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>

<p>Like the music or plugins provided here? Buy me a Coffee !! </p>
<a href="https://www.buymeacoffee.com/seanwaylan9" target="_blank" >Buy me a Coffee</a>

 
<p>LINK TO PAGE TO LISTEN OR FREE DOWNLOAD NEW ALBUM IN HI FIDELITY</p>

<div class="container" align="left">
 <a href="/rail_mary/" target="blank"><button >Download Rail Mary Album!</button></a>
</div>

<p>This link below has thousands of Sean Wayland Tunes in pdf form</p>

<div class="container" align="left">
 <a href="/return-all_charts/" target="blank"><button >Download lots of Sean Wayland pdfs</button></a>
</div>

<p>This link below has lots of Sean Wayland plugins. You can email me seanwayland at gmail for installation help</p>

<div class="container" align="left">
   <a href="/return-plugins/" target="blank"><button >Download lots of Sean Wayland plugins</button></a>
  </div>

<p>Upload your files securely</p>
<div class="container" align="left">
    <a href="/upload/form" target="_blank"><button>Upload Files</button></a>
</div>

<p>View or download files in the directory</p>
<div class="container" align="left">
    <a href="/files" target="_blank"><button>View/Download Files</button></a>
</div>


<p>upload files to s3</p>
<div class="container" align="left">
    <a href="/s3/upload" target="_blank"><button>upload files to s3</button></a>
</div>


<p>View or download files in the s3 bucket</p>
<div class="container" align="left">
    <a href="/s3/files" target="_blank"><button>view s3 bucket files</button></a>
</div>

<p>add performance</p>
<div class="container" align="left">
    <a href="/performances/new" target="_blank"><button>add a new performance</button></a>
</div>


<p>add to email list</p>
<div class="container" align="left">
    <a href="/mailing-list/new" target="_blank"><button>add to email list</button></a>
</div>










