{% extends "base.html" %}
{% block title %}New Mailing List Entry{% endblock %}

{% block content %}
<h2>Add Mailing List User</h2>

{% if error %}
<p style="color:red">{{ error }}</p>
{% endif %}

<h3>Single Entry</h3>
<form method="post">
    <label>Name:</label><br>
    <input type="text" name="name" required><br><br>

    <label>Email:</label><br>
    <input type="email" name="email" required><br><br>

    <label>Location:</label><br>
    <input type="text" name="location"><br><br>

    <label>Info:</label><br>
    <input type="text" name="info"><br><br>

    <button type="submit">Add User</button>
</form>

<hr>

<h3>Bulk Upload (CSV)</h3>
<h>
<br>
CSV must include headers<br>
<br>
name,email,location,info,unsubscribed<br>
Sean,sean@example.com,NYC,Pianist,0<br>
Alex,alex@example.com,Boston,Composer,1<br>
</h>
<form method="post" enctype="multipart/form-data">
    <input type="file" name="csv_file" accept=".csv" required><br><br>
    <button type="submit">Upload CSV</button>
</form>
{% endblock %}
